<div class="container">
  <h1>My todos <small> how to work</small></h1>
  <form role="form" ng-submit="addTodo()">
    <div class="row">
      <div class="input-group">
        <input class="form-control" type="text" ng-model="todo" placeholder="输入todo"/>
        <span class="input-group-btn">
          <input class="btn btn-primary add" value="添加" type="submit" />
        </span>
      </div>
    </div>
  </form>
  <p></p>
  <div ui-sortable ng-model="todos">
  <p ng-repeat="todo in todos track by $index" class="input-group move-able todo" >
      <span class="form-control" type="text" ng-model="todo">{{todo}}</span>
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="removeTodo($index)" aria-lable="Remove">X</button>
      </span>
    </p>
  </div>
</div>
